#container{
    padding: 1vw 1vw 1vw 1vw;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.button-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    text-align: center;
    height: 30vw;
    width: 100vw;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    text-align: center;
    height: 90vw;
    width: 100vw;
}

.header-text{
    align-content: center;
    font-size: xx-large;
    font-family: Impact;
    font-weight: bold;
    color: brown;
}

button{
    background-color: aquamarine;
    display: block;
    width: 100%;
    height: 100%;
}