img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.bottom-bar {
    height: 100;
}

.button-area{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.button-group{
    display: block;
    width: 100%;
}

.choose-buttonm {
    left: 0;
}

.inventor{
    
}

.inventor-button{
    display: block;
    width: 100%;
    height: 10vh;
}

.inventor-column {
    position: relative;
}

.inventor-description{
    text-align: center;
}

.inventor-image{
    float:left;
    width: 50%;
}

.inventor-image img{
    height: 100%;
    width: 100%
}

.inventor-list{
    height: 100vh;
}

.inventor-profile{
    padding: 5px;
    border: 1px solid grey;
}

.inventor-profiles{
    height: 90vh;
    overflow-y: scroll;
}

.results-bar{
    
}

.results-bar button{
    background-color: blueviolet;
}

.start-button{
    background-color: aqua;
}

.submit-button-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskbar{
    padding-top: 5px;
}

.welcome-page{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.welcome-page-title{
    font-size: 50px;
}
